<div class="title">
  <div class="title__left">
    <p>Pokedex</p>
    <div class="caught-seen">
      <div class="caught">
        <img
          class="pokeball-img"
          src="../../../../assets/images/pokeballcolor.png"
          alt=""
        />
        <p>123</p>
      </div>
      <div class="seen">
        <img
          class="pokeball-img"
          src="../../../../assets/images/pokeball.png"
          alt=""
        />
        <p>123</p>
      </div>
    </div>
  </div>
  <p class="atoz">A > Z</p>
</div>
