<div class="topbar-wrap">
  <div class="title">
    <h1>Pokédex</h1>
  </div>
  <div class="caught-seen">
    <div class="caught">
      <img
        class="pokeball-img"
        src="../../../../assets/images/pokeballcolor.png"
        alt="pokeballcolor"
      />
      <p>123</p>
    </div>
    <div class="seen">
      <img
        class="pokeball-img"
        src="../../../../assets/images/pokeball.png"
        alt="pokeball"
      />
      <p>123</p>
    </div>
    <div class="sort-label">
      <p>A > Z</p>
    </div>
  </div>
</div>
