<div class="bottom">
  <audio #audioOption>
    <source
      src="../../../../assets/sounds/a-button-sound.mp3"
      type="audio/mp3"
    />
  </audio>
  <div class="bottom-btn">
    <p (click)="audioOption.play()" class="bg-circle-white">A</p>
    <p>See Details</p>
  </div>
  <div class="bottom-btn">
    <p (click)="audioOption.play()" class="bg-circle-white">X</p>
    <p>Habitat</p>
  </div>
  <div class="bottom-btn">
    <p (click)="audioOption.play()" class="bg-circle-white">Y</p>
    <p>Sort</p>
  </div>
  <div class="bottom-btn">
    <p (click)="audioOption.play()" class="bg-circle-white">+</p>
    <p>See Evaluation</p>
  </div>
  <div class="bottom-btn">
    <p (click)="audioOption.play()" class="bg-circle-white">B</p>
    <p>Back</p>
  </div>
</div>
